.App {
  background-color: #1E1E1E;
}

.headshot {
  display: block;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.lorem {
  display: block;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.clickableBackground {
  display: block;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  background: #090909;
  background-image: linear-gradient(to bottom right, #373737 50%, transparent 50%);
}